@{
    Layout = "_Layout";
}
<h1>Todas las Noticias</h1>

<section class="newsBoard">

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>


    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>

    <div class="news">
        <a href="~/Home/VerNoticia">
            <img src="~/uploads/101.png" />
            <h2>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</h2>
        </a>
    </div>




</section>

