@{
    Layout = "_LayoutAdmin";
}

<h3 class="titulo">Lista de Noticias</h3>

<a href="~/Noticias/Agregar" class="btn">Agregar Noticias</a>

<section class="controles">
    <label>Secciones:</label>
    <form>
        <select id="cmbSecciones">
            <option selected="selected" value="-1">-Seleccione una seccion--</option>
            <option value="0">Seccion 1</option>
            <option value="0">Seccion 2</option>
        </select>
    </form>
</section>

<table class="tablaNoticias">
    <tr>
        <th>Titulo</th>
        <th>Datos</th>
        <th>Acción</th>
    </tr>
    <tbody>

        <tr>
            <td>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</td>
            <td>
                Publicada:  01/01/2020<br />
                Categoria: Sección 1<br />
                Visitas: 5
            </td>
            <td>
                <a href="~/Noticias/Editar" class="edit"></a>
            </td>
        </tr>

        <tr>
            <td>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</td>
            <td>
                Publicada:  01/01/2020<br />
                Categoria: Sección 1<br />
                Visitas: 5
            </td>
            <td>
                <a href="~/Noticias/Editar" class="edit"></a>
            </td>
        </tr>

        <tr>
            <td>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</td>
            <td>
                Publicada:  01/01/2020<br />
                Categoria: Sección 1<br />
                Visitas: 5
            </td>
            <td>
                <a href="~/Noticias/Editar" class="edit"></a>
            </td>
        </tr>

        <tr>
            <td>Dropbox sigue los pasos de Drive y mejora sus opciones para trabajar en equipo</td>
            <td>
                Publicada:  01/01/2020<br />
                Categoria: Sección 1<br />
                Visitas: 5
            </td>
            <td>
                <a href="~/Noticias/Editar" class="edit"></a>
            </td>
        </tr>

    </tbody>
</table>



