<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Web de Noticias - Admin</title>
    <link href="~/estilos.css" rel="stylesheet" />
    <link rel="icon" href="~/images/news.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Examen de Programación Web" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src='~/tinymce/tinymce.min.js'></script>

</head>
<body>
    <header>
        <h1>WEB DE NOTICIAS</h1>
    </header>
    <nav>
        <a href="~/Admin">Inicio</a>
        <a href="~/Admin/Noticias">Noticias</a>
        <a href="~/Admin/Seccion">Secciones</a>
    </nav>
    <main class="MainAdmin">
        @RenderBody()
    </main>
    <footer>
        <h5>PROGRAMACIÓN WEB</h5>
        <h5>EXAMEN
        </h5>
    </footer>
</body>
</html>