@{
	Layout = "_LayoutAdmin";
}

<form>
	<h3>Editar una sección</h3>

	<label>Nombre de la sección:</label>
	<input type="text" required="required" />

	<div id="error" class="error"></div>

	<div class="botones">
		<input type="submit" value="Guardar" />
		<a class="btn" href="~/Seccion">Cancelar</a>
	</div>
</form>
